# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.HomeworkLesson20.iml
# Datasource local storage ignored files
/../../../../../../:\projects\HomeworkLesson20\.idea\.idea.HomeworkLesson20\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
